.astonMartingRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.astonMartingRead:hover{
    background-color: azure;
}
.BMWM4Read{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.BMWM4Read:hover{
    background-color: azure;
}
.maclarenRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.maclarenRead:hover{
    background-color: azure;
}
.porscheRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.porscheRead:hover{
    background-color: azure;
}
.ferrariRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.ferrariRead:hover{
    background-color: azure;
}
.maclaren720Read{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.maclaren720Read:hover{
    background-color: azure;
}
.mercedez{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.mercedez:hover{
    background-color: azure;
}
.nissanRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.nissangRead:hover{
    background-color: azure;
}
.supraRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.supraRead:hover{
    background-color: azure;
}
.mercdezGleRead{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 4px;
}
.mercdezGleRead:hover{
    background-color: azure;
}
.BMWX5{
    background-color: beige;
    color: black;
    border-color: beige;
    border-radius: 4px;
}
.BMWX5:hover{
    background-color: azure;
}